
<div class="form-container">
  <mat-card>
    <mat-card-title>
      <h4>Ingrese sus datos</h4>
    </mat-card-title>

    <mat-card-content>
      <form fxLayout="column" [formGroup]="userForm" name="form" (ngSubmit)="onSubmit()">

        <div class="input-row">
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Numero de Documento</mat-label>
              <input matInput formControlName="userDocument" stringHide [hideLength]="2">
              <!-- <mat-icon matSuffix class="disabled-text">domain</mat-icon> -->
              <mat-error>El Numero de Documento es requerido</mat-error>
          </mat-form-field>
        </div>

        <div class="input-row">
          <mat-form-field appearance="outline" fxFlex="100">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="userName">
              <!-- <mat-icon matSuffix class="disabled-text">domain</mat-icon> -->
              <mat-error>El Nombre es requerido</mat-error>
          </mat-form-field>
        </div>
        
        <div class="input-row">
          <button  mat-button color="primary" aria-label="SAVE" type="submit" [disabled]="userForm.invalid">
            Guardar
          </button>
        </div>
          <!-- </div> -->

      </form>
    </mat-card-content>
    <mat-card-actions>
        
    </mat-card-actions>
  </mat-card>
</div>
